
<form action="/updateProfile" method="POST" class="edit-profile-form">
  <div class="form-group">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="us_nombre" value="{{us_nombre}}">
  </div>
  <div class="form-group">
    <label for="email">Correo electrónico:</label>
    <input type="email" id="email" name="us_correo" value="{{us_correo}}">
  </div>
  <div class="form-group">
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="us_password">
  </div>
  <div class="form-group">
    <label for="passwordconfirm">Confirmar contraseña:</label>
    <input type="password" id="passwordconfirm" name="us_passwordconfirm">
  </div>
  <div class="form-group">
    <label for="address">Dirección:</label>
    <input type="text" id="address" name="us_direccion" value="{{us_direccion}}">
  </div>
  <div class="form-group">
    <label for="phone">Teléfono:</label>
    <input type="tel" id="phone" name="us_telefono" value="{{us_telefono}}">
  </div>
  <div class="form-group">
    <label for="document">Documento:</label>
    <input type="text" id="document" name="us_documento" value="{{us_documento}}">
  </div>
  {{#if message}}
    <p>{{message1}}</p>
  {{/if}}
  <input type="submit" value="Actualizar">
</form>