<h1>Mi perfil</h1>

<ul>
  <li>Nombre: {{us_nombre}}</li>
  <li>Correo: {{us_correo}}</li>
  <li>Dirección: {{us_direccion}}</li>
  <li>Teléfono: {{us_telefono}}</li>
  <li>Documento: {{us_documento}}</li>
</ul>

<a href="/profile/edit">Editar mi información</a>